#dashboard{
    display: grid;
    grid-template-columns: auto 65% auto;
    grid-template-areas: ". demo .";


    >div{
        grid-area: demo;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        svg{
            position: absolute;
            // top: 0;
            // bottom: 0;
            padding-top: 240px;
            width: 100%;
        }
    }

    img{
        width: 5.9%;
        position: absolute;
        padding-top: 863px;
        padding-right: 853px;
    }
    
    #speedometer-counter{
        font-family: 'AudiType-WideNormal', sans-serif;
        color: $white;
        font-weight: 500;
        font-size: 90px;
        padding-bottom: 300px;
        padding-top: 45px;
        padding-left: 530px;
        position: absolute;
    }




}