/* =============
    Demo
============= */

#demo{
    display: grid;
    grid-template-columns: auto 65% auto;
    grid-template-areas: ". demo .";


    >div{
        grid-area: demo;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding-top: 50px;
        position: relative;

        svg{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    }
    
    #loading-text{
        font-family: 'AudiType-WideNormal', sans-serif;
        color: $white;
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 50px;
        padding-top: 20px;
        padding-right: 80px;
    }
    #counter{
        font-family: 'AudiType-WideBold', sans-serif;
        color: $audi-red;
        font-weight: 500;
        font-size: 17px;
        padding-bottom: 120px;
        padding-top: 90px;
        padding-right: 35px;
        padding-left: 140px;
        display: hidden;
    }
    #percentage{
        font-family: 'AudiType-WideBold', sans-serif;
        color: $audi-red;
        font-weight: 500;
        font-size: 17px;
        padding-bottom: 50px;
        padding-top: 20px;
        padding-left: 160px;
    }

}