/* =============
    Demo
============= */

#demo{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ". demo .";


    >div{
        grid-area: demo;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid red;
        padding-top: 50px;
        // width: 100%;

        svg{
            // border: 2px solid black;
            width: 100%;
        }
    }
    
    #loading-text{
        font-family: 'AudiType-WideNormal', sans-serif;
        color: $white;
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 250px;
    }
    #counter{
        font-family: 'AudiType-WideBold', sans-serif;
        color: $audi-red;
        font-weight: 500;
        font-size: 25px;
        padding-bottom: 120px;
        padding-right: 33px;
        display: hidden;
    }
    #percentage{
        font-family: 'AudiType-WideBold', sans-serif;
        color: $audi-red;
        font-weight: 500;
        font-size: 25px;
        padding-bottom: 120px;
        padding-left: 55px;
    }

}