/* =============
    Demo
============= */

#demo{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ". demo .";


    >div{
        grid-area: demo;
        display: flex;
        justify-content: center;
        // border: 3px solid red;

        // svg{
        //     border: 3px solid black;
        // }
    }
}