/* =============
    Section 4 
============= */
#section-4 {
    padding-top: 30px;
	aside {
		img {
			width: 100%;
		}
	}
	#section-4-intro {
		display: grid;
		grid-template-areas: ". section-4 .";
		grid-template-columns: 15px auto 15px;
		text-align: center;
		#section-4-intro-content {
			grid-area: section-4;
			h3 {
				font-size: rem-calc(35);
				font-weight: 600;
			}
			h4 {
				font-weight: 400;
			}
			hr {
				background-color: $tan;
				border: none;
				color: $tan;
				height: 3px;
			}
		}
	}
	@include md {
		display: grid;
		grid-template-areas: "img";
		grid-template-columns: 38% auto;
		margin-bottom: 50px;
		margin-top: 20px;
		aside {
			grid-area: img;
		}
		#section-4-intro-content {
			align-self: center;
		}
	}
	@include lg {
		display: grid;
		grid-template-columns: 45% auto;
	}
}












//     @include xl {
//         display: grid;
//         grid-template-columns: auto 1200px auto;
//         grid-template-areas: ". section-4 .";
//     }

//     #section-4-content{
//         display: grid;
//         grid-area: section-4;
//         gap: 20px;
//         grid-template-rows: repeat(3, 380px);
//         background-size: cover;
//         background-position: center;

//         @include md{

//             display: grid;
//             gap: 20px;
//             grid-template-columns: repeat(2, 1fr);
//             grid-template-rows: repeat(3, 1fr);

//             grid-template-areas: 
//             "g1 g1"
//             "g1 g1"
//             "g2 g3";
//         }
//         @include lg{
//             grid-template-columns: repeat(2, 1fr);
//             grid-template-rows: repeat(2, 1fr);

//             grid-template-areas: 
//             "g1 g3"
//             "g1 g2";
//     }
        
//         #g1{
//             @include md{
//                 grid-area: g1;
//             }
//             @include lg{
//                 grid-area: g1;
//             }
//         }
//         #g2{
//             @include md{
//                 grid-area: g2;
//             }
//             @include lg{
//                 grid-area: g2;
//             }
//         }

//         #g3{
//             @include md{
//                 grid-area: g3;
//             }
//             @include lg{
//                 grid-area: g3;
//             }
//         }

//     }
// }