/* =============
    Section 1 
============= */
#section-1{
    // img{
    //     width: 100%;
    // }
    overflow: hidden;
    height: 600px;

    >div{
        background-image: url('../img/Section1/hero.png');
        background-position: center;
        background-size: cover;
        height: 100%;
    }

    // #section-1-headline{
    //     display: grid;
    //     text-align: center;
    //     padding-top: 100px;

    // h1{
    //     font-weight: 700;
    //     font-size: rem-calc(70);
    // }

    // }
}